*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/captures
/.idea
/freeline
/freeline_core 
/build
/app/build
/maf/build
/vitamio/build
/QRcodeScan/build